@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@font-face {
    font-family: "museo";
    src: url("../_font/Museo v7 by ihint.ttf");
}

html, body {
    height: 100%;
}

body {
    background-color: #431F13;


}

#fundo-home {
    /* background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("../_img/background-new.png") no-repeat center; */
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("../_img/fundo_natal.jpg") no-repeat center;
    background-size: 100%;
    margin: -14px -6px 0px -6px;
    min-height: 90%;
    position: relative;

}

#fundo-outras {
    min-height: 95%;
    position: relative;
}

figure {
    text-align: center;
}

figure img {
    width: 35%;
    padding-top: 65px;

}

.btn1 {
    position: absolute;
    left: 22%;
    top: 28%;
}


.btn2 {
    position: absolute;
    left: 18%;
    top: 44%;
}

.btn3 {
     position: absolute;
     left: 17%;
     top: 60.5%;
 }

.btn4 {
    position: absolute;
    left: 69%;
    top: 28%;
}

.btn5 {
    position: absolute;
    left: 71%;
    top: 44%;
}

.btn6 {
    position: absolute;
    left: 70%;
    top: 60.5%;

}

.btn7 {
    position: absolute;
    left: 42%;
    top: 87%;

}

section#corpo a {
    text-decoration: none;
    color: #FBC90B;
    font-family: 'Great Vibes', cursive;
    font-size: 32pt;
    text-transform: none;
    font-weight: normal;
    text-shadow: 2px 1px 2px #000;
}

section#corpo a:hover {

    text-shadow: 1px 1px 10px #D9AD42;
    transition: 0.3s;
}

section#corpo h1 {
    text-decoration: none;
    color: #FBC90B;
    font-family: museo;
    text-align: center;
}

section#corpo h2 {
    color: #D9AD42;
    font-family: museo;
    text-align: left;
    font-size: 13pt;
    font-style: italic;
}

.rodape {
    color: #D9AD42;
    text-align: center;
    font-family: museo;
    clear: both;
    position: relative;
    bottom: 10px;
    width: 100.5%;
    background-color: #431F13;
    padding-top: 10px;
    margin-top: -20px;
    margin-left: -6px;
    padding-left: 5px;
}

.rodape h2 {
    font-size: 8pt;
    text-transform: none;
    text-decoration: none;
    font-style: normal;


}

.rodape h2:hover {
    text-decoration: underline;
}

.rodape h4 {
    color: #FBC90B;
    font-family: museo;
    margin-top: -20px;
    font-size: 18pt;
}

.rodape a {
    font-family: museo;
    color: #D9AD42;
    font-size: 13pt;
    text-decoration: none;
}

.barrinha {
    font-size: 9pt;
    width: 0.5px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}

.enderecos {
    margin: auto;
}

.enderecos td {
    background-color: rgba(93,73,29,0.2);
    border-radius: 15px;
    padding: 10px 20px 10px 0px;
    width: 33%;

}

/* -----------------------------------------------------
             FORMATAÇÃO PÁGINA NOSSAS LOJAS
   ---------------------------------------------------- */

.fundo {
    background-color: rgb(227,205,158);
    /*
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("../_img/Como-derreter-chocolate-0-1080x675.jpg");
    background-size: 100%;
    */
    /*
    background: radial-gradient(rgba(227,205,158,0.89),rgba(227,205,158,0.89)), url("../_img/logo-marrom.png") top repeat-y;
    background-size: 80%;
    */

}


.menu {
    background-color: #431F13;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    text-align: center;
    padding: 20px 20px 20px 60px;

}

.menur {
    float: right;
}

.menul {
    margin-left: 10px;
}

.menu li {
    display: inline;
    /*padding: 25px;*/
}

.menu a {
    font-family: museo;
    text-decoration: none;
    color: #FBC90B;
    font-size: 13pt;
}

.menu a:hover {
    text-shadow: 0 0 10px #fff82b;
    transition: 0.35s;
}

.atual {
    border-bottom: solid 3px;
    color: #FBC90B;
}

.logo {
    width: 280px;
    height: 200px;
    position: absolute;
    left: 2%;
    padding-right: -10px;
    top: 6%;
}

.logo img {
    visibility: hidden;
}


.rodape img {
    width: 70%;

}

.rodape figure {

}

.rodape h3 {
    font-size: 10pt;
    font-style: italic;
}

.rodape a {
    font-size: 10pt;
    font-style: italic;
}

.tabela-redes {
    clear: both;
    vertical-align: top;
    margin-bottom: 1px;


}

.tabela-rodape {
    text-align: center;
    margin-bottom: 10px;
}


.rodape li {
    display: inline-block;
    margin-left: 100px;


}

section#corpo-lojas, section#corpo-cardapio, section#corpo-franqueado {
    width: 100%;
    height: auto;
    margin: auto auto auto -7px;
    /* background: url("../fotos_site/IMG_1991.jpg") no-repeat; */
    padding-top: 130px;
    padding-bottom: 7px;
    padding-right: 15px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(238,223,193,1) 0%, rgba(221,194,136,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(238,223,193,1)), color-stop(100%, rgba(221,194,136,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(238,223,193,1) 0%, rgba(221,194,136,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(238,223,193,1) 0%, rgba(221,194,136,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(238,223,193,1) 0%, rgba(221,194,136,1) 100%);
    background: radial-gradient(ellipse at center, rgba(238,223,193,1) 0%, rgba(221,194,136,1) 100%);
    line-height: 1;
}

section#corpo-lojas h2, section#corpo-cardapio h2, section#corpo-franqueado h2 {
    text-align: left;
    color: #5D491D;
    font-family: 'calibri', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15pt;
    /*text-shadow: saddlebrown 0px 1px 1px;*/
    margin-left: 30px;

}

section#corpo-lojas h6 {
    text-align: left;
    color: #5D491D;
    font-family: 'calibri', sans-serif;
    font-weight: normal;
    font-size: 14pt;
    /*text-shadow: saddlebrown 0px 1px 1px;*/
    margin-right: 30px;
}

section#corpo-lojas h2 a {
    color: #D9AD42;
}

section#corpo-lojas h2 a:hover {
    color: #431F13;
}

section#corpo-lojas h1, section#corpo-cardapio h1, section#corpo-franqueado h1 {
    text-align: center;
    color: #5D491D;
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    /* text-shadow: #431F13 0px 2px 2px; */
    text-transform: uppercase;


}

#corpo-lojas h4 a {
    text-decoration: none;
    color: #5D491D;
}

#corpo-lojas h4 a:hover {
    text-decoration: underline;
}

#line {
    border-bottom: dotted 1px #431F13;
    width: 400px;
    margin: auto;

}

#textos{
    width: 43%;
    margin: auto;
    padding-bottom: 15px;

}

#corpo-lojas h5, #corpo-franqueado h5 {
    text-align: left;
    color: #5D491D;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 15px;
    margin-left: 30px;

}

#corpo-lojas h4, #corpo-franqueado h4 {
    text-align: center;
    color: #5D491D;
    font-family: 'museo';
    font-size: 17pt;
    margin-top: 1px;
    font-weight: bold;
    margin-bottom: 2px;

}

#corpo-franqueado h3 {
    font-family: 'Alegreya', serif;
    text-align: left;
    color: #431F13;
    font-size: 9pt;
    font-style: italic;
}

section#corpo-lojas p {
    margin-left: 30px;
}

.tabela {
    width: 95%;
    margin: auto auto auto 70px;

}

#full-image {
    margin: auto;
    text-align: center;
}



/* -----------------------------------------------------
             FORMATAÇÃO PÁGINA PRODUTOS
   ---------------------------------------------------- */

.tabela-produtos {
    margin: auto;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 85%;
    /*background: radial-gradient(rgba(227,205,158,0.88),rgba(227,205,158,0.88)), url("../_img/logo-marrom.png") center no-repeat;
    background-size: 75%;*/


}


.tabela-produtos img {
    width: 110%;

}

#produto-grande {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

#produtos {
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 20px;
}

#produtos a:hover {
    -webkit-filter: opacity(.6);
}

#produtos td {
    width: 33%;
}


#produtos h4 {
    font-size: 13pt;
}

#produtos img {
    width: 120px;


}

.meio {
    width: 0.5%;
    border-left: dotted 1.5px #431F13;

}

section#corpo-lojas h3 {
    font-family: museo;
    font-size: 19pt;
    font-style: normal;
    color: rgba(67, 31, 19, 0.93);

    border-bottom: solid 1.8px #431F13;
    text-transform: uppercase;

}

.tabela-produtos li {
    list-style: none;
}

.tabela-pascoa {
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 15px;
}

.tabela-pascoa h1 {
    padding-top: 10px;
    padding-bottom: 10px;

    border-top: dotted 1px #5D491D;
}

.tabela-pascoa h4 {
    text-align: left;
    text-shadow: 2px 2px 6px #333;


}

.tabela-pascoa h2 {
    text-align: left;
    text-shadow: 2px 1px 7px #646464;
}


.tabela-produtos li:before {
    content: "\00BB \0020";
}

.tabela-aux ul li {
    font-family: museo;
    font-size: 10pt;
    font-weight: normal;
    color: #431F13;
    font-style: italic;
}

.tabela-aux h4 {
    font-family: museo;
    font-size: 12pt;
    color: #431F13;
}

/*
.marcadagua {
    background: linear-gradient(rgba(234,218,183,0.5),rgba(234,218,183,0.5)), url("../_img/logo-marrom.png") no-repeat;
    background-size: 50%;

}
*/

.linha-gourmet {
    background-color: #431F13;
    padding: 5px;
    margin-right: -11px;

}

#corpo-lojas .linha-gourmet h1 {
    color: #D9AD42;

    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
    margin: auto;
}

#corpo-lojas .linha-gourmet h4 {
    color: #D9AD42;
    text-shadow: 2px 2px 4px #555;

}

#corpo-lojas .linha-gourmet h6 {
    text-align: right;
    color: #dddddd;
    text-shadow: 1px 1px 2px #aaa;

}

#corpo-lojas .linha-gourmet h2 {
    color: #dddddd;
    text-shadow: 1px 1px 2px #aaa;
    text-align: left;
}

#corpo-lojas .linha-especiais h6 {
    text-align: right;
    text-shadow: 2px 1px 7px #646464;
}


/* -----------------------------------------------------
             FORMATAÇÃO PÁGINA CARDÁPIO
   ---------------------------------------------------- */

section#corpo-cardapio {
    padding-top: 50px;

}

section#corpo-cardapio img {
    width: 100%;
}


.catalogo {
    border-top: solid 1px #5D491D;
    padding-top: 25px;
}

#em-breve {
    margin: auto;
    text-align: center;
}

#em-breve img {
    width: 35%;
    margin: 20px 0 45px 0;
    /*opacity: 0.4;*/
}

#em-breve a {
    color: #431F13;
}

.textos {
    width: 75%;
    margin: auto;
}

.textos h4 {
    text-align: left;
}

.sobre-nos {
    width: 75%;
    margin: auto;

}

.sobre-nos h5 {
    font-weight: normal;

}

.sobre-nos img {
    width: 85%;
    text-align: center;
}

.sobre-nos table {
    width: 900px;
    margin: auto;
}

#textos a {
    text-align: center;
    margin: auto;
    float: right;
}

.btn-franqueado {
    text-decoration: none;
    text-align: center;
    margin: auto;
    padding: 7px;
    color: #5D491D;
    border: 2px solid #5D491D;
    font-weight: bolder;
    font-family: 'museo';
    font-size: 13pt;
    border-radius: 6px;

}

.btn-franqueado:hover {
    color: #DDC288;
    background-color: #5D491D;
}

.conteudo-franqueado {
    margin: -50px auto auto auto;
    padding: 5px;
    text-align: center;
    width: 70%;

}

.conteudo-franqueado #teste-tr {
    border-top: 1px dotted #5D491D;

}

.conteudo-franqueado #texto-franqueado {
    text-align: right;
    margin-right: 5px;

}

.conteudo-franqueado #texto-franqueado-esq {
    text-align: left;
    margin-left: 5px;

}

.conteudo-franqueado #miolo {
    background-color: #5D491D;
}

#corpo-franqueado a {
    color: #5D491D;
}

.cor {
    color: #D9AD42;
    text-shadow: 1px 1px 1px #5D491D;
    text-decoration: underline;
}