@charset "UTF-8";

ul#albun-fotos {
    width: 92%;
    margin: 0 auto;
    padding: 45px 10px 50px 10px;
    overflow: hidden;
    list-style: none;
}

ul#albun-fotos li {
    float: left;
    width: 210px;
    height: 450px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .4s ease-in;
}

ul#albun-fotos li span {
    opacity: 1;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0,0,0,.3);
    font-size: 13pt;
    line-height: 870px;
    padding: 5px;

}

ul#albun-fotos li:hover {
    -webkit-transform: scale(1.2);

}

ul#albun-fotos li:hover span {
    opacity: 1;
    transition: 0.3s;
}

ul#albun-fotos li#foto01 {
    background: url("../_img/folheto_namorados.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 450px;
    background-color: #ffffff;
}

ul#albun-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 210px 450px;
}

ul#albun-fotos li#foto02 {
    background: url("../_img/barras.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 450px;
    background-color: #ffffff;
}

ul#albun-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 210px 450px;
}

ul#albun-fotos li#foto03 {
    background: url("../_img/chocolate-993319_640.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 450px;
    background-color: #ffffff;
}

ul#albun-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 210px 450px;
}

ul#albun-fotos li#foto04 {
     background: url("../_img/presentes.png") no-repeat;
     background-position: 50% 50%;
     background-size: 210px 450px;
     background-color: #ffffff;
 }

ul#albun-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 210px 450px;
}

ul#albun-fotos li#foto05 {
    background: url("../_img/generic-granel.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 450px;
    background-color: #ffffff;
}

ul#albun-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 210px 450px;
}

/* --------------------------------------------------------------------------
                        FORMATAÇÃO DE PRODUTOS
  -------------------------------------------------------------------------*/

.albun-fotos2 {
    width: 76%;
    margin: 0 auto;
    padding: 45px 5px 10px 20px;
    overflow: hidden;
    list-style: none;
}

.albun-fotos2 li {
    float: left;
    width: 240px;
    height: 280px;
    margin: 10px 65px 20px 25px;
    border: 2px solid #5D491D;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -2px 2px 20px rgba(100,100,100,.5);
    -webkit-transition: all .4s ease-in;
}

.albun-fotos2 li span {
    opacity: 1;
    color: #D9AD42;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0,0,0,.3);
    font-size: 13pt;
    line-height: 515px;
    padding: 5px;

}

.albun-fotos2 li:hover {
    -webkit-transform: scale(1.2);
    opacity: 0.7;

}

.albun-fotos2 li:hover span {
    opacity: 1;
    transition: 0.6s;
    visibility: visible;
}

.albun-fotos2 li#foto01 {
    background: url("../_img/barras1.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto01:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto02 {
    background: url("../_img/barras20g.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto02:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto03 {
    background: url("../_img/barras40g.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto03:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto04 {
    background: url("../_img/barras-nuts.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto04:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto05 {
    background: url("../_img/tablete10g.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto05:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto06 {
    background: url("../_img/barras-nomes.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto06:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto07{
     background: url("../_img/trufa-cereja.png") no-repeat;
     background-position: 50% 50%;
     background-size: 210px 210px;

 }

.albun-fotos2 li#foto07:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto08{
    background: url("../_img/trufa-artesanal.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto08:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto09{
    background: url("../_img/trufas-27gr.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto09:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto10{
    background: url("../_img/pirulito-confeitos.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto10:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto11{
    background: url("../_img/carrinhos-ursinhos.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto11:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto12{
    background: url("../_img/brigadeiro-palito.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto12:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto13{
    background: url("../_img/leiteira.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto13:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto14{
    background: url("../_img/cachepot.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto14:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto15{
    background: url("../_img/caneca.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto15:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto16{
    background: url("../_img/caixa-selecoes.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto16:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto17{
    background: url("../_img/leiteira.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto17:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}

.albun-fotos2 li#foto18{
    background: url("../_img/mix-barrinhas.png") no-repeat;
    background-position: 50% 50%;
    background-size: 210px 210px;

}

.albun-fotos2 li#foto18:hover {
    background-position: 50% 50%;
    background-size: 210px 210px;
}